<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Curriculum</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../assets/css/index.css">
    <script src="https://kit.fontawesome.com/9188bffc99.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <header class="header">
            <h1>Juan José Ayala Prisco</h1>
            <h2 class="yellow">Estudiante De Programación De Software</h2>
            <h2 class="red">Jóvenes Creativos 2021</h2>
        </header>

        <main class="content-1">
            <div class="title"><h3>PERFIL</h3></div>
            <p><span><i class="far fa-user"></i></span> Soy una persona responsable, creativa y honesta, tengo una facilidad de adaptación y capacidad de
                trabajar en equipo; me considero una persona poco problemática y curiosa. Además de ser empático.
                <br><br>
                Me gusta ser una persona comprometida y cumplir con mis deberes y objetivos. También soy una persona de 
                pocas palabras, pacífica, con una gran paciencia para la lógica y el análisis de problemas; tengo pocos amigos y la
                relación con mi familia es muy agradable y tranquila. Me gusta levantarme temprano y, sin embargo,
                no practico ningún deporte, me gusta leer y estudiar.</p>
        </main>

        <aside class="sidebar">
            <div class="title">
                <h3>CONOCIMIENTOS</h3>
            </div>

            <div class="sidebar__container">
            <div class="sidebar__container--knowledge">
                <p> - HTML <span> <i class="fas fa-certificate"></i> <i class="fas fa-certificate"></i> <i class="fas fa-certificate"></i> <i class="fas fa-certificate"></i></span> </p>
                <p> - CSS <span> <i class="fas fa-certificate"></i> <i class="fas fa-certificate"></i> <i class="fas fa-certificate"></i></span></p>
                <p> - JS <span> <i class="fas fa-certificate"></i> <i class="fas fa-certificate"></i></span></p>
            </div>
            <h4>EDUCACIÓN</h4>
            <div>
                <ul>
                    <li>
                        <p>DESARROLLO WEB HTML5 BÁSICO</p>
                        <p>2019-2019, Curso De Comfama</p>
                    </li>
                </ul>
            </div>

            <div>
                <ul>
                    <li>
                        <p>NIVEL BÁSICO DE INGLÉS A1</p>
                        <p>2020-2021, Academia De Idiomas SMART</p>
                    </li>
                </ul>
            </div>

            <h4>ACTITUDES</h4>
            <div>
                <ul>
                    <li>
                        <p>Compromiso</p>
                    </li>
                    <li>
                        <p>Honestidad</p>
                    </li>
                    <li>
                        <p>Liderazgo</p>
                    </li>
                    <li>
                        <p>Trabajo En Equipo</p>
                    </li>
                </ul>
            </div>
            
            <h4>DESTREZAS</h4>
            <ul>
                <li>
                  <p>Distribución del tiempo para una mayor optimización.</p>  
                </li>
                <li>
                  <p>Analizar la información para la toma de decisiones asertivas.</p>  
                </li>
                <li>
                   <p>Aplicar el razonamiento y lógica para resolver un problema.</p> 
                </li>
                <li>
                   <p>Pensamiento critico y propio.</p> 
                </li>
            </ul>

            <h4>PROYECTOS</h4>
            <ul>
                <li>
                    <p>Graduarme De Jóvenes Creativos</p>
                </li>
                <li>
                    <p>Terminar Mi Curso De Inglés</p>
                </li>
                <li>
                    <p>Graduarme Del Bachillerato Y Del SENA (Técnica)</p>
                </li>
            </ul>
            
            </div>

            <div class="sidebar__container--link">
                <a href="#">HOBBIES</a>
            </div>    
            <br>
        </aside>

        <div class="content-2">
            <h3>HABILIDADES</h3>
                <div class="skill">
                    <div class="skill__bars">
                        <p>Dibujo - Pintura</p>
                        <div class="skill__bar--drawing"></div>
                    </div>
                    <div class="skill__bars">
                        <p>Escritura </p>
                        <div class="skill__bar--writing"></div>
                    </div>
                    <div class="skill__bars">
                        <p>Baile </p>
                        <div class="skill__bar--dance"></div>
                    </div>
                    <div class="skill__bars">
                        <p>Creatividad </p>
                        <div class="skill__bar--creativity"></div>
                    </div>
                    <div class="skill__bars">
                        <p>Gestión Del Tiempo </p>
                        <div class="skill__bar--time"></div>
                    </div>
                    <div class="skill__bars">
                        <p>Comunicación </p>
                        <div class="skill__bar--communication"></div>
                    </div>
                    <div class="skill__bars">
                        <p>Diseño </p>
                        <div class="skill__bar--design"></div>
                    </div>
                    <div class="skill__bars">
                        <p>Inteligencia Emocional </p>
                        <div class="skill__bar--intelligence"></div>
                    </div>
                </div>
        </div>

        <footer class="footer">
            <h3>Contacto</h3>
        </footer>
    </div>

</body>
</html>