/*Estilos del Pie de página "Footer"*/
.container .footer {
    background-color: #0E3D59;
    grid-column: 1 / -1;
    border: 2px solid #4EBFBF;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, .75);
    transition: .3s ease all; 
}

body.light .container .footer {
    background-color: #B6E1F0;
    border: 2px solid #1C7796;
}

.container .footer .title {
    background-color: #4EBFBF;
    color: #F25C78;
    padding: 5px;
    font-size: 30x;
    text-align: center;
    transition: .3s ease all;
}

body.light .container .footer .title {
    background-color: #1C7796;
    color: #66E05F;
}

.container .footer .footer__references {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    padding: 18px;

}

.container .footer .footer__references .footer__references--contacts {
    padding: 20px;
    text-align: left;
    color: #F2CF66;
    font-size: 18px;
    font-weight: 300;
    transition: .3s ease all;
}

body.light .container .footer .footer__references .footer__references--contacts {
    color: #FE6C70;
}

.container .footer .footer__references .footer__references--address {
    padding: 20px;
    text-align: left;
    color: #F2CF66;
    font-size: 18px;
    font-weight: 300;
    transition: .3s ease all;
}

body.light .container .footer .footer__references .footer__references--address {
    color: #FE6C70;
}

.container .footer .footer__references .footer__references--address  img {
    margin: 3px 3px;
    width: 25%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .container .footer .footer__references .footer__references--address  img {
        width: 87%;
        height: 87%;
    }

    .container .footer .footer__references .footer__references--contacts {
        padding: 15px;
        font-size: 15px;
    }

    .container .footer .footer__references .footer__references--address {
        padding: 15px;
        font-size: 15px;
    }
  }